* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Fontes Google */
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;

    /* Borda de Desenvolvimento */
    border: 1px solid blue;
}

/* body {
    width: 100vw;
    height: 100vh;
} */

main {
    width: 200px;
    height: 200px;

    /* FlexBox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-text {
    width: 160px;
    padding: 1px 3px;
    outline: none;
}

.container-button {
    width: 160px;
    padding: 5px 0;

    /* Flexbox */
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 77px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #4c4c4d;
    cursor: pointer;
}

/* Configuração do:
Cabeçalho
Resultado
Rodapé
*/